@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');

.hero {
  background-color: #cfc1ac;
  height: auto;
  min-height: 100%;
}

.title {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.district_container {
  padding: 0 10px;
}