@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.hero {
  height: auto;
  min-height: 100%;
}

.title {
  font-family: 'Righteous', cursive;
  color: #3b3836;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.center {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
}