.corner_box {
    position: fixed;
    margin-top: 0.3rem;
    // top: 10px;
    right: 0.5rem;
    height: 3rem;
    // width: 6.4rem;
    background-color: #615c59;
    color: #cfc1ac;
    border-radius: 10px;
    text-align: center;
    font-family: 'Righteous', sans-serif;
    padding: 0.8rem 0.4rem;
    font-weight: bold;
}