.icon {
    min-width: 100px;
    width: fit-content;
    height: 27px;
    text-align: center;

}

.count {
    margin-left: 230px;

}

.details_container {
    padding: 0.5rem;
    color: #615c59;
    background-color: #e5ddd1;
    border-radius: 0.5rem;
}

.image {
    border-radius: 0.5rem;
}

.center {
    text-align: center;
}

.padding {
    padding: 0.5rem
}