ion-content {
    --ion-background-color: #cfc1ac; // Or whatever color you want
}

ion-tab-bar {
    --background: #615c59;
    --color-selected: #ff978c;
    --color: #cfc1ac;
}

ion-toolbar {
    --ion-toolbar-background: #615c59;
    --ion-toolbar-color: #cfc1ac;
}

ion-list {
    --ion-item-background: #cfc1ac;
}

ion-item {
    --background: #cfc1ac;
    --color: black;
}

ion-segment {
    --background: none;
}

ion-segment-button {
    --color: white;
    --color-checked: #e74c3c;
}

ion-input {
    --ion-color-step-50: none;
    --ion-color-step-150: none;
}

.sc-ion-input-ios-h {
    --highlight-color-valid: blue;
    --highlight-color-invalid: #e74c3c;
}

.sc-ion-input-md-h {
    --highlight-color-valid: blue;
    --highlight-color-invalid: #e74c3c;
}

ion-button {
    --border-radius: 8px;
    --background: #e74c3c;
    --background-activated: #615c59;
    --color-activated: #e5ddd1;
}

ion-card {

    --background: #e5ddd1;
    --color: #3b3836;

    img {
        object-fit: cover;
        width: 100%;
        height: 15rem;
    }

    ion-card-title {
        --color: #3b3836;
    }

    ion-card-subtitle {
        --color: #3b3836;
    }

}