.button {
    border-radius: 100%;
    // border: 5px solid #cfc1ac;
    box-shadow: 0 0 0 0.2rem #cfc1ac;
    background-color: #cfc1ac;
    --background: #e74c3c;
}

.reposition {
    transform: translate(0, -1rem) scale(1.1, 1.1);
    // position: fixed !important;
    // bottom: 20px;
}

.tab_bar {
    border: none;
    // --color-selected: #ff978c;
    // --color: #cfc1ac;
}
