// .logo_container {
//     width: 100vw;
//     display: flex;
// }

.icon_container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.icon {
    width: 12rem;
    height: auto;
    border-radius: 50%;
}

.button {
    --background: #e5ddd1;
    --color: #3b3836;
}

